@using Abp.Web.Mvc.Extensions
@using MyCompanyName.AbpZeroTemplate.Web.Navigation
@{
    ViewBag.CurrentPageName = PageNames.App.Host.PaperBrowse;
}

@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Paper/Index.js")
}
<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>试卷浏览</span> <small>浏览试卷信息</small>
                </h1>
            </div>
        </div>
    </div>@*col_xs_6表示在一行*@
    <div class="col-xs-6 text-right">
        
        <button id="CreateNewPaperButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> 新建试卷</button>
        
    </div>
</div>@*试卷浏览*@


<div class="portlet light margin-bottom-0">
    <div class="portlet-title portlet-title-filter">
        <div class="inputs inputs-full-width">
            <div class="portlet-input">
                <form>
                    <div class="input-group">
                        <input id="PapersTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@ViewBag.FilterText">
                        <span class="input-group-btn">
                            <button id="GetPapersButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div>
            <div id="PapersTable"></div>
        </div>
    </div>
</div>@*搜索按钮和JTable*@

<div id="footer1" style="text-align: center; font-size: 9pt; background-image: url(Images/题库中间背景2.jpg); background-repeat: repeat-y; height: 63px; width: 1000px; margin: 0 auto; padding-top: 15px;">
    地址：陕西省西安市咸宁西路28号&nbsp; 邮编：710049<br />
    网址:www.xjtu.edu.cn&nbsp; 邮箱：xjetec@mail.xjtu.edu.cn<br />
    版权所有：西安交通大学计算机教学实验中心
</div>
