@using Abp.Web.Mvc.Extensions
@using MyCompanyName.AbpZeroTemplate.Web.Navigation
@{
    ViewBag.CurrentPageName = PageNames.App.Host.Exhibition;
}
<div class="portlet light margin-bottom-5">


</div>

<div id="footer1" style="text-align: center; font-size: 9pt; background-image: url(Images/题库中间背景2.jpg); background-repeat: repeat-y; height: 63px; width: 1000px; margin: 0 auto; padding-top: 15px;">
    地址：陕西省西安市咸宁西路28号&nbsp; 邮编：710049<br />
    网址:www.xjtu.edu.cn&nbsp; 邮箱：xjetec@mail.xjtu.edu.cn<br />
    版权所有：西安交通大学计算机教学实验中心
</div>
