<div class="portlet light">
    <label>shit</label>
    <div class="row margin-bottom-0">
        <div class="col-md-2 col-md-offset-2">
            <button type="button" id="CompletePreStep" class="btn btn-default">上一步</button>
        </div>
        <div class="col-md-2">
            <button type="button" id="BrowsePaperStep" class="btn btn-primary">预览</button>
        </div>

    </div>
</div>
