<div class="portlet light">
    <form class="form-horizontal margin-bottom-5">
        <div class=" form-group ">
            <label for="PaperNameInput" class="col-md-2 control-label">试卷名称：</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="PaperNameInput" placeholder="请输入试卷名称" />
            </div>
        </div>
        <div class=" form-group ">
            <label for="CourseNameInput" class="col-md-2 control-label">考试科目：</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="CourseNameInput" placeholder="请输入考试科目" />
            </div>
        </div>
        <div class=" form-group ">
            <label for="PaperNameInput" class="col-md-2 control-label">试卷名称：</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="PaperNameInput" placeholder="请输入试卷名称" />
            </div>
        </div>
        <div class=" form-group ">
            <label for="PaperAuthorInput" class="col-md-2 control-label">出题人：</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="PaperAuthorInput" placeholder="请输入出题人" />
            </div>
        </div>
        <div class=" form-group ">
            <label for="PaperRemarksInput" class="col-md-2 control-label">试卷描述：</label>
            <div class="col-md-4">
                <textarea class="form-control" id="PaperRemarksInput" placeholder="请输入试卷描述"></textarea>
            </div>
        </div>
    </form>@*需要刷新的表单*@

    <div class="row margin-bottom-0">
        <div class="col-md-2 col-md-offset-2">
            <button type="button" id="IndexPreStep" class="btn btn-default">上一步</button>
        </div>
        <div class="col-md-2">
            <button type="button" id="IndexNextStep" class="btn btn-primary">下一步</button>
        </div>

    </div>@*按钮异步刷新*@
</div>
