@using Abp.Web.Mvc.Extensions
@using MyCompanyName.AbpZeroTemplate.Web.Navigation
@{
    ViewBag.CurrentPageName = PageNames.App.Host.Exhibition;
}
@section Styles{
    @Html.IncludeStyle("~/libs/highcharts/highcharts.css")
}
@section Scripts
{
    @Html.IncludeScript("~/libs/highcharts/highcharts.js")
    @Html.IncludeScript("~/libs/highcharts/funnel.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Welcome/Index.js")

}


<div class="portlet  light note text-center margin-bottom-10">
    <h3>欢迎您，ch</h3>
</div>
<div class="row">
    <div id="QuestionChart" class="col-md-9 pull-left"></div>
    <div class="portlet light col-md-3">

        <h4 class="row pull-left col-md-12">快捷操作：</h4><br /><br /><br /><br /><br /><br />
        <div class="row text-center">
            <div class="col-md-6">
                <a id="a_addQt">
                    <i class="fa fa-plus-circle fa-5x"></i><br /><br />
                    <label style="color:black">添加试题</label>
                </a>

            </div>
            <div class="col-md-6">
                <a id="a_addPp">
                    <i class="fa fa-file-text fa-5x"></i><br /><br />
                    <label style="color:black">新建试卷</label>
                </a>

            </div>
        </div>
        <br /><br /><br />
        <div class="row text-center">
            <div class="col-md-6">
                <a id="a_cdi">
                    <i class="fa fa-user-circle-o  fa-5x "></i><br /><br />
                    <label style="color:black">浏览考生</label>
                </a>

            </div>
            <div class="col-md-6">
                <a id="a_maExam">
                    <i class="fa fa-newspaper-o fa-5x"></i><br /><br />
                    <label style="color:black">考试管理</label>
                </a>

            </div>
        </div>
        <br /><br />
    </div>
</div>